* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
}

.header {
  width: 1440px;
  background: #141414;
  height: 68px;
  padding-left: 68px;
  display: flex;
}

.header__logo-place {
  width: 326px;
  height: 136px;
  background: #99823D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__content {
  width: 978px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
}

.header__content-left {
  padding-left: 34px;
  width: 174px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content-left li:nth-of-type(1) {
  width: 57px;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-family: Open Sans;
  font-size: 9px;
}

.header__content-left li:nth-of-type(2) {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Open Sans;
  font-size: 10px;
}

.header__content-right {
  width: 559px;
  height: 33px;
  display: flex;
  gap: 37px;
  align-items: center;
}

.header__content-right li {
  color: #FFF;
  font-family: Open Sans;
  font-size: 11px;
  letter-spacing: 2.763px;
  margin-right: 5px;
}

.intro {
  position: relative;
  background: #141414;
  width: 1440px;
  height: 659px;
  position: absolute;
  z-index: -2;
}

.intro__pic-list {
  width: 978px;
  background: #EBEBEB;
  margin-left: 68px;
  position: absolute;
  z-index: -1;
}

.intro__pic-list ul {
  width: 978px;
  height: 68px;
  padding-right: 343px;
  background: #EBEBEB;
  display: flex;
  gap: 37px;
  align-items: center;
}

.intro__pic-list ul li {
  color: #000;
  font-family: Open Sans;
  font-size: 12px;
  letter-spacing: 2.975px;
}

.intro__two-rect {
  width: 652px;
  height: 659px;
  position: absolute;
  top: 68px;
  left: 720px;
}

.two-rect__text {
  background: #ffffff;
  width: 584px;
  height: 455px;
  margin: 68px 68px 0 0;
  padding: 68px;
  position: absolute;
  z-index: 0;
}

.two-rect__text p:nth-child(1) {
  color: #99823D;
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.575px;
  letter-spacing: 2.763px;
  text-transform: uppercase;
  height: 17px;
}

.two-rect__text p:nth-child(2) {
  color: #141414;
  font-family: Teko;
  font-size: 67px;
  font-style: normal;
  font-weight: 400;
  line-height: 67.031px;
  text-transform: capitalize;
  width: 417px;
  height: 135px;
  margin-top: 4px;
}

.two-rect__text p:nth-child(3) {
  color: #141414;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.5px;
  width: 435px;
  margin-top: 32px;
}

.two-rect__text .button-wrapper {
  width: 449px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.two-rect__text button {
  width: 216px;
  height: 68px;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.85px;
  letter-spacing: 2.975px;
  text-transform: uppercase;
}

.two-rect__text button:first-child {
  background: #99823D;
}

.two-rect__text button:last-child {
  background: #141414;
}

.two-rect__block {
  width: 489px;
  height: 392px;
  background: #99823D;
  margin-top: 268px;
  margin-left: 163px;
}/*# sourceMappingURL=style.css.map */